.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightseagreen;
    padding: 10px 0px;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}