div {
    margin: 3px 0px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    color: lightseagreen;
    text-align: left;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}